.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@import "flex.css";
@import "footer.css";

body {
    background: #ffcb77;
    overflow: hidden;
}

h2,
h3 {
    color: whitesmoke;
}

#box {
    text-align: center;
}

#field table {
    border-collapse: collapse;
    font-size: 150%;
    font-family: san-serif;
    font-weight: bold;
    display: inline-block;
}

#field table td {
    background-color: rgb(195, 195, 195);
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border: 1px solid black;
}

button {
    width: 100px;
    height: 30px;
    background-color: rgb(195, 195, 195);
    color: black;
    font-weight: bolder;
    border-radius: 20px 20px 20px 20px;
}
.button_contener {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button_save {
    /* position: absolute; */
    /* bottom: 0; */
}
#clock {
    position: absolute;
    top: 50%;
    right: 1rem;
    color: #61dafb;
    transition: all 500ms ease-in-out;
    transform: translate(0%, -50%);
}
#clock:hover {
    text-shadow: 1px 1px yellow;
    /* transform: scale(1.1) rotate(0deg) translate(0px, -50%); */
    opacity: 1;
}
* {
    z-index: 1;
}
@import "./Background/background.css";
/* #pogoda {
    position: absolute;
    top: 0;
} */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    textarea {
        width: 300px;
    }
}
@import "footer.css";
