.flex {
    display: flex;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-c {
    justify-content: center;
}
.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-c {
    align-items: center;
}
.flex-ai-e {
    align-items: flex-end;
}
.flex-fd-c {
    flex-direction: column;
}
